html,
body {
  padding: 0;
  margin: 0;
  margin-bottom: 6rem;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 15px;
  transition: 0.5s all ease;
  scroll-snap-type: y mandatory !important;
  overflow-x: hidden;

  /* cursor: none !important; */
}

:root {
  --gray-900: #1a202c;
  --gray-800: #2d3748;
  --gray-700: #059cdf;
  --gray-600: #718096;
  --gray-500: #a0aec0;
  --gray-400: #cbd5e0;
  --gray-300: #e2e8f0;
  --gray-200: #edf2f7;
  --gray-100: #f7fafc;
  --red-100: #fff5f5;
  --red-200: #fed7d7;
  --red-300: #feb2b2;
  --red-400: #fc8181;
  --red-500: #f56565;
  --red-600: #e53e3e;
  --red-700: #c53030;
  --red-800: #9b2c2c;
  --red-900: #742a2a;
  --blue-100: #ebf8ff;
  --blue-200: #bee3f8;
  --blue-300: #90cdf4;
  --blue-400: #63b3ed;
  --blue-500: #4299e1;
  --blue-600: #3182ce;
  --blue-700: #2b6cb0;
  --blue-800: #2c5282;
  --blue-900: #2a4365;
  --white: white;
  --theme: #2e4051;
  --blue-theme: #3b49df;
  --red: #f56565;
  --text-decoration-color: var(--gray-400);
  --text-color: var(--gray-800);
  --focus-ring-color: var(--blue-500);
  --whitesmoke: #f5f5f6;
}
a {
  color: inherit;
  text-decoration: none;
}
h1 {
  color: #6c6d6e !important;
  font-size: 2rem;
}
p {
  font-family: "regular";
}
* {
  box-sizing: border-box;
}
.blend-mode-normal {
  mix-blend-mode: normal;
}
.blend-mode-exclusion {
  mix-blend-mode: exclusion;
}
.mouse {
  position: fixed;
  z-index: 9999999;
  pointer-events: none;
  left: -10px;
  top: -10px;
  transition: transform 0.5s ease;
}
.mouse__pointer {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #b8b8b7;
  border: solid 1px #b8b8b7;
  -webkit-transition: width 0.5s ease, height 0.5s ease,
    background-color 0.2s ease, border-color 0.2s ease, opacity 0.2s ease;
  -moz-transition: width 0.5s ease, height 0.5s ease, background-color 0.2s ease,
    border-color 0.2s ease, opacity 0.2s ease;
  -ms-transition: width 0.5s ease, height 0.5s ease, background-color 0.2s ease,
    border-color 0.2s ease, opacity 0.2s ease;
  -o-transition: width 0.5s ease, height 0.5s ease, background-color 0.2s ease,
    border-color 0.2s ease, opacity 0.2s ease;
  transition: width 0.5s ease, height 0.5s ease, background-color 0.2s ease,
    border-color 0.2s ease, opacity 0.2s ease;
  z-index: 1;
}
.mouse__pointer__nav {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #0d0d0b;
  border: 0.11px solid #848483;
  z-index: 1;
  overflow: hidden;
  mix-blend-mode: normal;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.mouse__pointer__nav:before,
.mouse__nav:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  height: 0.5px;
  width: 50%;
  padding: 0;
  background-color: #848483;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
@font-face {
  font-family: "regular";
  src: url("../fonts/regular.ttf");
}
@font-face {
  font-family: "medium";
  src: url("../fonts/bold.ttf");
}
@font-face {
  font-family: "bold";
  src: url("../fonts/medium.ttf");
}
@font-face {
  font-family: "caps";
  src: url("../fonts/caps.ttf");
}

* {
  font-family: "regular";
}
.font-bold {
  font-family: medium;
  font-weight: bold;
}
.font-caps {
  font-family: caps;
}

.chakra-text {
  font-family: regular !important;
}
.home-vid__vid {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  min-height: 100%;
  object-fit: cover;
}
.home-vid {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  height: 100vh;
  width: 100vw;
}
.navbar-content-wrapper {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 100vh;
  width: 16vw;
  background-color: white;
  z-index: 2000;
  box-shadow: none;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
li {
  list-style: none;
}
video {
  transition: all 0.5s ease;
  height: 100% !important;
  object-fit: cover;
  min-width: 100%;
}
img {
  transition: all 0.5s ease;
}
.logo-main {
  position: relative;
  top: 0px;
}
.nav-hover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  display: flex;
  /* visibility: hidden; */
  /* opacity: 0; */
  filter: alpha(opacity=0);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  pointer-events: none;
}
.nav-hover-image {
  width: 42vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}
.nav-hover-text {
  width: 52vw;
  height: 100vh;
  z-index: 2000;
  left: 50%;
  position: fixed;
  z-index: 999;
  display: flex;
  top: 50%;
  transform: translate(-0%, -50%);
  filter: alpha(opacity=0);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  pointer-events: none;
}

.nav-hover-text .nav-hover-text-item {
  position: relative;
  left: 55%;
  top: 85%;
  /* margin-right: 3rem; */
  transform: translate(-50%, -50%);
}
.spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10001;
}
.page-left {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 42vw;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-width: none;
}
.page-left::-webkit-scrollbar {
  display: none;
}
.page-right {
  min-height: 100vh;
  position: relative;
  top: 0;
  right: 0;
  width: 42vw;
  margin-left: 58vw;
  height: auto;
  z-index: 2;
  overflow-x: hidden;
}
.page-section {
  padding: 28vh 30px 18vh;
  min-height: 75vh;
}
.page-nav {
  position: fixed;
  width: 42.5vw;
  top: 0;
  left: 57.5vw;
  padding: 25px 30px;
  z-index: 98;
}
.grad-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}
.page-nav__circle {
  width: 30px;
  height: 30px;
  border: solid 1px #5c5c5c;
  border-radius: 50%;
  position: absolute;
  top: 24px;
  left: 30px;
  pointer-events: none;
  -webkit-transition: all 0.35s linear;
  -moz-transition: all 0.35s linear;
  -ms-transition: all 0.35s linear;
  -o-transition: all 0.35s linear;
  transition: all 0.35s linear;
}
.page-nav__no {
  font-size: 0.6875rem;
  position: relative;
  font-family: "din-2014", "source-han-sans-simplified-c", sans-serif;
  font-weight: 400;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: middle;
  padding: 0 15px;
  left: -5px;
  top: 3px;
  letter-spacing: 0.075rem;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.page-nav__lbl {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 30px;
  font-size: 0.6875rem;
  font-family: "din-2014", "source-han-sans-simplified-c", sans-serif;
  font-weight: 400;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  color: #808383;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  opacity: 0;
  filter: alpha(opacity=0);
}
.about-section p {
  font-size: 16px;
  font-family: "regular" !important;
}
.about-section {
  height: 80vh;
}
.effect-button {
  --c: #767674;
  color: var(--c);
  font-size: 16px;
  border: 0.1em solid var(--c);
  border-radius: 0.5em;
  width: 12em;
  height: 3em;
  letter-spacing: 0.1em;
  text-align: center;
  line-height: 3em;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: 0.5s;
}
.effect-button span {
  position: absolute;
  width: 25%;
  height: 100%;
  background-color: var(--c);
  transform: translateY(150%);
  border-radius: 50%;
  left: calc((var(--n) - 1) * 25%);
  transition: 0.5s;
  transition-delay: calc((var(--n) - 1) * 0.1s);
  z-index: -1;
}
.effect-button:hover {
  color: rgb(255, 255, 255);
}

.effect-button:hover span {
  transform: translateY(0) scale(2);
}

.effect-button span:nth-child(1) {
  --n: 1;
}

.effect-button span:nth-child(2) {
  --n: 2;
}

.effect-button span:nth-child(3) {
  --n: 3;
}

.effect-button span:nth-child(4) {
  --n: 4;
}

.li:hover .cursor {
  transform: translate(-50%, -50%) scale(8);
}
.page-nav-text {
  font-family: "bold";
  position: fixed;
  top: 4%;
  left: 3%;
  z-index: 100;
}
.page-nav-text-location {
  font-family: "bold";
  position: fixed;
  top: 4%;
  right: 3%;
  z-index: 1000000000;
}
.section-nav {
  font-family: "bold";
  position: fixed;
  top: 4%;
  right: 3%;
  z-index: 100;
}
.mobile-nav-icon {
  position: fixed;
  top: 95%;
  left: 50%;
  transform: translate(-50%, -100%);

  z-index: 1000;
}
.navbar-mobile-content-wrapper {
  height: 100vh;
  width: 101vw;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 999;
}

input[type="email"],
input[type="password"],
input[type="text"],
input[type="number"] {
  padding: 0.65rem 0.5rem;
  font-size: 1rem;
  border: 1px solid var(--gray-400);
  /* background-color: var(--gray-100); */
  border-radius: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
input[type="search"] {
  padding: 0.65rem 0.5rem;
  font-size: 1rem;
  border: 2px solid var(--gray-200);
  /* background-color: var(--gray-100); */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
input[type="search"] {
  width: 400px;
  height: 50px;
}
input[type="select"] {
  width: 400px;
  height: 50px;
}
input[type="search"] + button {
  height: 50px;
}

input[type="email"],
input[type="password"],
input[type="text"],
input[type="number"],
textarea,
select {
  width: 100%;
  font-family: "regular" !important;
}

select {
  margin: 0;
  box-sizing: border-box;
  padding: 0.65rem 0.5rem !important;
  font-size: 1rem;
  border: 2px solid var(--gray-200);
  border-radius: 10px;
  color: var(--gray-700);
  height: auto;
  line-height: inherit !important;
  background-color: var(--gray-100);
  /* background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 125.304 125.304"><path d="M62.652 103.895L0 21.41h125.304" fill="%23343334"/></svg>'); */
  background-repeat: no-repeat;
  background-size: 1rem;
  background-position: center right 0.5rem;
}

textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 1rem;
  border: 2px solid var(--gray-200);
  color: var(--gray-700);
  border-radius: 10px;
  resize: vertical;
  background-color: var(--gray-100);
  box-sizing: border-box;
  padding: 0.65rem 0.5rem;
  font-family: -apple-system, BlinkMacSystemFont, "avenir next", avenir,
    "helvetica neue", helvetica, ubuntu, roboto, noto, "segoe ui", arial,
    sans-serif;
}

input:focus,
select:focus,
textarea:focus {
  outline: none;
  border: 2px solid var(--focus-ring-color);
}

input:invalid,
select:invalid,
textarea:invalid {
  border: 2px solid #ff7d87 !important;
  box-shadow: none;
  background-color: #ffdddd;
}
.input-error {
  border: 2px solid #ff7d87 !important;
  box-shadow: none;
}

input[type="checkbox"] {
  display: inline-block;
  height: 1rem;
  font-size: 1rem;
  border-radius: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 2px solid var(--gray-300);
  width: 1rem;
  background-color: white;
  align-self: center;
  margin-right: 0.5rem;
}

input[type="checkbox"]:hover {
  cursor: pointer;
}

input[type="checkbox"]:checked {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="78.369" height="78.369" viewBox="0 0 78.369 78.369"><path fill="white" d="M78.05 19.015l-48.592 48.59c-.428.43-1.12.43-1.548 0L.32 40.016c-.427-.426-.427-1.12 0-1.547l6.704-6.704c.428-.427 1.12-.427 1.548 0l20.113 20.112 41.113-41.113c.43-.427 1.12-.427 1.548 0l6.703 6.704c.427.427.427 1.12 0 1.548z"/></svg>');
  background-size: contain;
  background-color: var(--gray-700);
  border: 2px solid var(--gray-700);
}

input[type="checkbox"]:focus-visible,
input[type="checkbox"]:checked:focus-visible {
  border-color: var(--focus-ring-color);
}

input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 50%;
  border: 2px solid var(--gray-300);
  height: 1rem;
  width: 1rem;
  margin-right: 0.5rem;
  align-self: center;
  justify-content: center;
  position: relative;
  display: flex;
}
.btn-group input[type="radio"] {
  display: none;
}

@media (hover: hover) {
  input[type="radio"]:hover {
    cursor: pointer;
  }
}

input[type="radio"]:checked {
  border: 2px solid var(--gray-700);
}

input[type="radio"]:focus-visible,
input[type="radio"]:checked:focus-visible {
  border-color: var(--focus-ring-color);
}

input[type="radio"]:checked::before {
  content: "";
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  background-color: var(--gray-700);
  align-self: center;
  border-radius: 50%;
}
.menu-wrapper {
  transition: all 0.5s linear;
}
.menu-wrapper:hover {
  background-color: var(--gray-200);
}
.rich-text {
  height: 50%;
}
div[role="textbox"] {
  min-height: 300px !important;
}
.rich-text button {
  cursor: pointer !important;
}
ol[data-slate-node="element"] {
  padding-left: 1.5rem;
}
ol[data-slate-node="element"] li {
  list-style: circle;
  list-style-type: disc;
}
.modal {
  z-index: 10000000;
}
.modal-backdrop {
  z-index: 999988;
}
svg {
  cursor: pointer;
  transition: all 0.2s ease;
  height: 1.5rem;
  width: 1.2rem !important;
  opacity: 0.8;
  margin: 0 5px 0 5px;
  vertical-align: middle;
}
.rightpageslug {
  padding-right: 5rem;
}

.thumbnail-wrapper img {
  object-fit: cover;
}
.location-page-text-wrap {
  height: 100vh;
}
.close-button-wrapper {
  position: fixed;
  top: 20px;
  left: 80%;
  z-index: 9999;
}
@media screen and (max-width: 992px) {
  .rightpageslug {
    padding: 0 1rem 0 1rem;
  }
  .location-page-text-wrap {
    height: auto;
  }
  .page-left {
    display: none;
  }
  .page-nav-wrap {
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 100;
  }
  .page-right {
    position: relative;
    width: 100vw;
    margin: 0;
    overflow-y: auto;
  }
  .page-section {
    padding: 0;
    height: auto !important;
  }
  .about-section {
    height: auto;
  }
  .video-page-mob {
    height: 60vh !important;
  }
}
